<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
    <PropertyGroup>
        <PublishAot>true</PublishAot>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <!-- or linux-x64, osx-arm64, etc -->
        <SelfContained>true</SelfContained>
        <Configuration>Release</Configuration>
        <InvariantGlobalization>true</InvariantGlobalization>
        <!-- Optional: reduces size -->
        <StripSymbols>true</StripSymbols>
        <!-- Optional: single binary -->
        <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
        <!-- Optional -->
        <PublishTrimmed>true</PublishTrimmed>
        <!-- Optional: trims unused code -->

        <PublishDir>bin\Release\aot-win-x64\publish\</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
    </PropertyGroup>
</Project>